[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"
flake8 = "*"
pycodestyle = "*"
isort = "*"
black = "*"
bandit = "*"
safety = "*"

[requires]
python_version = "3.9"
